.container{
    max-width:1440px ;
    margin: 100px auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}
.profile_wrapper{
    display: flex;
    margin: auto;
    border:1px solid black;
    width:100%;
    padding:20px;
}
.heading{
    text-align: center;
}
.episode{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    
}

.card{
    display: flex;
    width:150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.card_name{
    font-size: 18px;
}
.character_image{
    width:50%;
}

.character_info{

}
